@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');


:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--Yellow);
    font-family: 'Figtree', sans-serif;
  }

  .wrapper {
    width: 27%;
    border-radius: 20px;
    box-shadow: 4px 4px var(--Black);
    background: var(--White);
    padding: 20px;
    border: 1px solid var(--Black);
    

  }
  @media(max-width:767px){
     .wrapper{
        width: 90%;
      }
  }
  .card-img img{
  width: 100%;
  border-radius: 10px;
  }

  .card-image img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    margin: 20px;
    object-fit: cover;

  }

  .card-title h3 {
     font-size: 14px;
     color: var(--Black);
     padding: 8px 10px;
     background: var(--Yellow);
     border-radius: 5px;
     margin-bottom: 10px;
     font-weight: bold;
     display: inline-block;
  }

  .card-title p {
    color: var(--Black);
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .card-title h1{
    color: var(--Black);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
    transition: all .05s ease-in;
    cursor: pointer;
  }
  .card-title h1:hover {
    color: var(--Yellow);
  }
  

  .card-info p {
    color: var(--Grey);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .card-icon{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .card-icon img {
    width: 60%;
    margin-right: -15px;
  }

  .card-icon p {
    
    color: var(--Black);
    font-size: 14px;
    font-weight: 900;
    
  }
